---
import * as m from '../../paraglide/messages.js';

interface QualitativeTest {
  target_id: string;
  target_name: string;
  reagent_formula: string;
  reagent_name: string;
  observation: string;
  reaction_id?: string;
}

interface Props {
  tests: QualitativeTest[];
}

const { tests } = Astro.props;
---

<div class="comp-content__intro">
  {m.rxn_theory_qual_desc()}
</div>

<table class="comp-content__table">
  <thead>
    <tr>
      <th>{m.rxn_theory_qual_ion()}</th>
      <th>{m.rxn_theory_qual_reagent()}</th>
      <th>{m.rxn_theory_qual_sign()}</th>
    </tr>
  </thead>
  <tbody>
    {tests.map(t => (
      <tr>
        <td>{t.target_name}</td>
        <td>{t.reagent_name} ({t.reagent_formula})</td>
        <td>{t.observation}</td>
      </tr>
    ))}
  </tbody>
</table>
